### Colorado Groundwater Data

In [1]:
import dataretrieval.nwis as nwis

In [2]:
# Muddy Creek Well, CO
# USGD URL: https://waterdata.usgs.gov/nwis/inventory?site_no=393902103554001

site = '393902103554001'


# get instantaneous values (iv)
df_gwl_muddy_creek = nwis.get_record(sites=site, service='dv', start='2016-05-01', end='2022-11-30').reset_index()
df_gwl_muddy_creek = df_gwl_muddy_creek[['datetime', '72019_Mean']]
df_gwl_muddy_creek.columns = ['datetime', 'gwl']

display(nwis.get_record(sites=site, service='site'))

display(df_gwl_muddy_creek.head())

,agency_cd,site_no,station_nm,site_tp_cd,lat_va,long_va,dec_lat_va,dec_long_va,coord_meth_cd,coord_acy_cd,...,local_time_fg,reliability_cd,gw_file_cd,nat_aqfr_cd,aqfr_cd,aqfr_type_cd,well_depth_va,hole_depth_va,depth_src_cd,project_no
0,USGS,393902103554001,SC00505806BBD1 DTX10A MUDDY CREEK,GW,393902,1035540,39.650556,-103.927778,G,S,...,Y,C,YYNYNYNN,S300DNVRBS,211FXHL,U,59.94,120,G,460840600

                   datetime    gwl
0 2016-05-01 00:00:00+00:00  11.00
1 2016-05-02 00:00:00+00:00  10.97
2 2016-05-03 00:00:00+00:00  10.93
3 2016-05-04 00:00:00+00:00  10.92
4 2016-05-05 00:00:00+00:00  10.88

In [3]:
# Drought Well, Near Pueblo
# USGD URL: https://waterdata.usgs.gov/nwis/inventory?site_no=382323104200701

site = '382323104200701'


# get instantaneous values (iv)
df_gwl_pueblo = nwis.get_record(sites=site, service='dv', start='2016-05-01', end='2022-11-30').reset_index()
df_gwl_pueblo = df_gwl_pueblo[['datetime', '72019_Mean']]
df_gwl_pueblo.columns = ['datetime', 'gwl']

display(nwis.get_record(sites=site, service='site'))

display(df_gwl_pueblo.head())

,agency_cd,site_no,station_nm,site_tp_cd,lat_va,long_va,dec_lat_va,dec_long_va,coord_meth_cd,coord_acy_cd,...,local_time_fg,reliability_cd,gw_file_cd,nat_aqfr_cd,aqfr_cd,aqfr_type_cd,well_depth_va,hole_depth_va,depth_src_cd,project_no
0,USGS,382323104200701,"SC01906221AAA DROUGHT WELL NEAR PUEBLO, CO",GW,382322.82,1042008.94,38.389672,-104.335817,M,S,...,Y,C,YYNYNYNN,N100ALLUVL,112TERC,U,90.0,90,D,858200240

                   datetime    gwl
0 2016-05-01 00:00:00+00:00  21.03
1 2016-05-02 00:00:00+00:00  21.03
2 2016-05-03 00:00:00+00:00  21.03
3 2016-05-04 00:00:00+00:00  21.02
4 2016-05-05 00:00:00+00:00  21.02

In [4]:
# Kit Carson County, CO
# USGD URL: https://waterdata.usgs.gov/nwis/inventory?site_no=390740103055801

site = '390740103055801'


# get instantaneous values (iv)
df_gwl_kit_carson = nwis.get_record(sites=site, service='dv', start='2016-05-01', end='2022-11-30').reset_index()
df_gwl_kit_carson = df_gwl_kit_carson[['datetime', '72019_Mean']]
df_gwl_kit_carson.columns = ['datetime', 'gwl']

display(nwis.get_record(sites=site, service='site'))

display(df_gwl_kit_carson.head())

,agency_cd,site_no,station_nm,site_tp_cd,lat_va,long_va,dec_lat_va,dec_long_va,coord_meth_cd,coord_acy_cd,...,local_time_fg,reliability_cd,gw_file_cd,nat_aqfr_cd,aqfr_cd,aqfr_type_cd,well_depth_va,hole_depth_va,depth_src_cd,project_no
0,USGS,390740103055801,SC01105103BAA1 LKWD RT WELL,GW,390740,1030558,39.127771,-103.099936,M,F,...,Y,C,YYNYNYNN,N100HGHPLN,121OGLL,U,63.0,63.0,NaN,460810700

                   datetime    gwl
0 2017-05-25 00:00:00+00:00  49.33
1 2017-05-26 00:00:00+00:00  49.32
2 2017-05-27 00:00:00+00:00  49.33
3 2017-05-28 00:00:00+00:00  49.32
4 2017-05-29 00:00:00+00:00  49.31

In [8]:
df_gwl_muddy_creek.to_parquet('data/df_gwl_muddy_creek.parquet')
df_gwl_pueblo.to_parquet('data/df_gwl_pueblo.parquet')
df_gwl_kit_carson.to_parquet('data/df_gwl_kit_carson.parquet')